$topbarLeftBgColor:#2461cc;
$topbarRightBgColor:#2461cc;
$menuBgColor:#557ce2;
$menuItemTextColor:#bfd0fc;
$menuItemHoverBgColor:#80a1f8;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#80a1f8;
$menuButtonHoverBgColor:#f88080;
$menuButtonActiveBgColor:#f88080;
$topbarMenuItemBadgeBgColor:#f88080;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';