$topbarLeftBgColor:#136a8a;
$topbarRightBgColor:#267871;
$menuBgColor:#0b788c;
$menuItemTextColor:#daecef;
$menuItemHoverBgColor:#37a3b3;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#37a3b3;
$menuButtonHoverBgColor:#bf4a4a;
$menuButtonActiveBgColor:#bf4a4a;
$topbarMenuItemBadgeBgColor:#bf4a4a;
$topbarMenuItemBadgeTextColor:#f0d1d0;

@import '../../sass/layout/_layout';