$topbarLeftBgColor:#00cdac;
$topbarRightBgColor:#02aab0;
$menuBgColor:#00979d;
$menuItemTextColor:#e3f0ee;
$menuItemHoverBgColor:#4ddbc4;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#4ddbc4;
$menuButtonHoverBgColor:#d86c6c;
$menuButtonActiveBgColor:#d86c6c;
$topbarMenuItemBadgeBgColor:#d86c6c;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';