$topbarLeftBgColor:#79425a;
$topbarRightBgColor:#79425a;
$menuBgColor:#935b74;
$menuItemTextColor:#edd8e2;
$menuItemHoverBgColor:#aa768e;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#aa768e;
$menuButtonHoverBgColor:#7684aa;
$menuButtonActiveBgColor:#7684aa;
$topbarMenuItemBadgeBgColor:#7684aa;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';