$topbarLeftBgColor:#734b6d;
$topbarRightBgColor:#42275a;
$menuBgColor:#714a6c;
$menuItemTextColor:#ede1eb;
$menuItemHoverBgColor:#a97ca2;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#a97ca2;
$menuButtonHoverBgColor:#5b72a4;
$menuButtonActiveBgColor:#5b72a4;
$topbarMenuItemBadgeBgColor:#5b72a4;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';