$topbarLeftBgColor:#614385;
$topbarRightBgColor:#516395;
$menuBgColor:#78589e;
$menuItemTextColor:#e9e0f4;
$menuItemHoverBgColor:#9274b5;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#9274b5;
$menuButtonHoverBgColor:#61a4c4;
$menuButtonActiveBgColor:#61a4c4;
$topbarMenuItemBadgeBgColor:#61a4c4;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';