$topbarLeftBgColor:#1e8455;
$topbarRightBgColor:#1e8455;
$menuBgColor:#32b67a;
$menuItemTextColor:#eff7f2;
$menuItemHoverBgColor:#49d291;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#49d291;
$menuButtonHoverBgColor:#d26149;
$menuButtonActiveBgColor:#d26149;
$topbarMenuItemBadgeBgColor:#d26149;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';