$topbarLeftBgColor:#7b4397;
$topbarRightBgColor:#b22f64;
$menuBgColor:#c13b70;
$menuItemTextColor:#f1dbe4;
$menuItemHoverBgColor:#af65d4;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#af65d4;
$menuButtonHoverBgColor:#b9235f;
$menuButtonActiveBgColor:#b9235f;
$topbarMenuItemBadgeBgColor:#b9235f;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';