$topbarLeftBgColor:#5d4279;
$topbarRightBgColor:#5d4279;
$menuBgColor:#72598d;
$menuItemTextColor:#ede0ed;
$menuItemHoverBgColor:#9475b5;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#9475b5;
$menuButtonHoverBgColor:#c76a6a;
$menuButtonActiveBgColor:#c76a6a;
$topbarMenuItemBadgeBgColor:#c76a6a;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';