$topbarLeftBgColor:#517fa4;
$topbarRightBgColor:#243949;
$menuBgColor:#1d3242;
$menuItemTextColor:#afafc0;
$menuItemHoverBgColor:#517fa4;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#6c97bc;
$menuButtonHoverBgColor:#bc6c6c;
$menuButtonActiveBgColor:#bc6c6c;
$topbarMenuItemBadgeBgColor:#bc6c6c;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';