$topbarLeftBgColor:#427976;
$topbarRightBgColor:#427976;
$menuBgColor:#599592;
$menuItemTextColor:#f0f7f7;
$menuItemHoverBgColor:#67c4bf;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#67c4bf;
$menuButtonHoverBgColor:#c46767;
$menuButtonActiveBgColor:#c46767;
$topbarMenuItemBadgeBgColor:#c46767;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';