$topbarLeftBgColor:#04838f;
$topbarRightBgColor:#04838f;
$menuBgColor:#2ab1be;
$menuItemTextColor:#d8ecee;
$menuItemHoverBgColor:#68cdd7;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#68cdd7;
$menuButtonHoverBgColor:#d76868;
$menuButtonActiveBgColor:#d76868;
$topbarMenuItemBadgeBgColor:#d76868;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';