$topbarLeftBgColor:#37474f;
$topbarRightBgColor:#37474f;
$menuBgColor:#546e7a;
$menuItemTextColor:#f0f7f7;
$menuItemHoverBgColor:#78909c;
$menuItemHoverTextColor:#ffffff;
$menuButtonBgColor:#78909c;
$menuButtonHoverBgColor:#b25f5f;
$menuButtonActiveBgColor:#b25f5f;
$topbarMenuItemBadgeBgColor:#b25f5f;
$topbarMenuItemBadgeTextColor:#ffffff;

@import '../../sass/layout/_layout';