.landing-body {
    .landing-wrapper {
        #header {
            background-color: #6d6d7e;
	        background-image: radial-gradient(circle at 50% 100%, #6d6d7e, #3b3b48);
            padding: 16px 0;
            height: 480px;
            overflow: hidden;
            
            > div {
                width: 960px;
                margin: 0 auto;
            }
                        
            .header-top {
                height: 83px;
                
                #menu-button {
                    background-color: #62626c;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    display: none;
                    color: #b3b3b3;
                    float: right;
                    margin-right: 30px;
                    text-align: center;
                    color: #ffffff;
                    @include transition(background-color .3s);
                    @include border-radius(50%);
                    
                    span {
                        font-size: 28px;
                        line-height: inherit;
                    }
                    
                    &:hover {
                        background-color: #e96d66;
                    }
                }
                
                img {
                    width: 80px;
                    margin-left: 30px;
                }
                
                ul {
                    list-style-type: none;
                    float: right;
                    margin: 20px 0 0 0;
                    padding: 0;
                    
                    li {
                        float: left;
                        padding-right: 12px;
                        
                        a {
                            font-size: 15px;
                            color: #afafc0;
                            display: block;
                            padding: 8px;
                            border-bottom: 2px solid transparent;
                            @include transition(border-bottom-color .3s);
                            
                            &:hover {
                                border-color: #afafc0;
                            }
                        }
                    }
                }
            }
            
            .header-content {
                text-align: center;
                height: 438px;
                position: relative;
                
                h1 {
                    color: #f5f8f9;
                    font-size: 22px;
                    margin: 40px 0 12px 0;
                } 
                
                h2 {
                    display: inline-block;
                    color: #afafc0;
                    font-size: 15px;
                    border-top: 1px solid #afafc0;
                    margin: 0 0 24px 0;
                    padding-top: 6px;
                }
                
                a {
                    display: inline-block;
                    border: solid 1px #dce2e7;
                    color: #dce1e7;
                    padding: 6px 30px;
                    margin-bottom: 50px;
                    @include border-radius(15px);
                    @include transition(background-color .3s);
                    
                    &:hover {
                        background-color: #dce2e7;
                        color: #6d6d7e;
                    }
                }
                
                .introduction-image {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    
                    img {
                        width: 600px;
                    }
                }
            }
        }
        
        #introduction {
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            color: #ffffff;
            text-align: center;
            padding-top: 100px;
            border-top: 10px solid #1b6bad;
            
            h2 {
                border-bottom: 4px solid #ffffff;
                display: inline-block;
                padding-bottom: 5px;
                margin-bottom: 5px;
                font-weight: 300;
            }
            
            h1 {
                font-weight: 700;
                margin-top: 10px;
                margin-bottom: 40px;
            }
            
            button {
                padding: 6px 12px;
                width: 125px;
            }
        }
        
        #features {
            background-color: #f5f8f9;
            padding: 50px 0;
            text-align: center;
            
            h1 {
                color: #6a6a7d;
                font-size: 22px;
                border-bottom: 3px solid #afafc0;
                display: inline-block;
                padding-bottom: 5px;
            }
            
            > div {
                width: 960px;
                margin: 0 auto;
                
                .ui-g-12 {
                    padding-top: 40px;
                }
                
                img {
                    height: 63px;
                }
                
                h3 {
                    margin: 12px 0 6px 0;
                	color: #525262;
                    font-size: 13px;
                    font-weight: bold;
                }
                
                p {
                    color: #6a6a7d;
                    font-size: 13px;
                    margin: 0;
                }
            }
        }
        
        #statistics {
            background-color: #525262;
            padding: 20px 0;
            
            > div {
                width: 960px;
                margin: 0 auto;
                text-align: center;
                
                h2 {
                    color: #ffffff;
                    font-size: 20px;
                    margin-top: 0;
                }
                
                .ui-g-12 {
                    padding-left: 26px;
                    padding-right: 26px;

                    h3 {
                        color: #f5f8f9;
                        font-size: 24px;
                        font-weight: bold;
                        margin: 0 0 10px 0;
                    }
                    
                    p {
                        color: #afafc0;
                        margin-top: 5px;
                        padding-top: 10px;
                    }
                }
            }
        }
        
        #pricing {
            background-color: #eff4f7;
            padding: 40px 0;
            text-align: center;
            
            > div {
                width: 960px;
                margin: 0 auto;
                text-align: center;
            
                h1 {
                    color: #6a6a7d;
                    font-size: 22px;
                    border-bottom: 3px solid #afafc0;
                    display: inline-block;
                    padding-bottom: 5px;
                    margin: 0 0 40px 0;
                }
                
                .ui-g-12 {
                    
                    .price-type {
                        background-color: #f5f8f9;
                        border: solid 1px #dce2e7;
                        height: 100%;
                        padding: 30px;
                        color: #6a6a7d;
                        box-sizing: border-box;
                        @include border-radius(3px);
                        
                        h3 {
                            font-size: 18px;
                            margin: 0 0 5px 0;
                        }
                        
                        .price-for {
                            color: #afafc0;
                            font-weight: bold;
                        }
                        
                        .currency {
                            color: #afafc0;
                            position: relative;
                            top: -16px;
                        }
                        
                        .price {
                            display: inline-block;;
                            font-size: 36px;
                        	color: #2d353c;
                            margin-bottom: 30px;
                        }
                        
                        .term {
                            color: #afafc0;
                        }
                        
                        ul {
                            list-style-type: none;
                            padding:0;
                            margin: 20px 0 0 0;
                            min-height: 175px;
                            
                            li {
                                padding-top: 6px;
                            }
                        }
                        
                        button {
                            width: 100%;
                        }
                        
                        &.price-type-popular {
                            padding-top: 10px;
                            
                            .popular-title {
                                background-color: #6a6a7d;
                                color: #f5f8f9;
                                padding: 2px 8px;
                                font-weight: bold;
                                position: relative;
                                top: -30px;
                                display: inline-block;
                                @include border-radius-top($borderRadius);
                            }
                        }
                    }
                }
            }
        }
        
        #video {
            background-color: #f5f8f9;
            padding: 40px 0;
            
            h1 {
                color: #6a6a7d;
                font-size: 22px;
                border-bottom: 3px solid #afafc0;
                display: inline-block;
                padding-bottom: 5px;
                margin: 0 0 40px 0;
            }
            
            > div {
                width: 960px;
                margin: 0 auto;
                text-align: center;
            }
        }
        
        #footer {
            background-color: #3b3b48;
            padding: 40px 0;
            
            > div {
                width: 960px;
                margin: 0 auto;
                
                img {
                    width: 60px;
                    vertical-align: middle;
                }
                
                .appname {
                    font-size: 36px;
                    color: #f5f8f9;
                    vertical-align: middle;
                    margin: 10px;
                }
                                
                .social {
                    float: right;
                    padding-top: 15px;
                    
                    a {
                        i {
                            color: #f5f8f9;
                            font-size: 30px;
                            margin-left: 30px;
                            @include transition(color .3s);
                        }
                        
                        &:hover {
                            i {
                                color: #c4c6c7;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .landing-body {
        .landing-wrapper {
            #header {
                > div {
                    width: 100%;
                    
                    ul {
                        display: none;
                        float: none;
                    }
                }
                
                .header-top {
                    #menu-button {
                        display: block;
                    }
                    
                    .logo {
                        width: 60px;
                    }
                }
                
                &.menu-active {
                    .header-top {
                        ul {
                            display: block;
                            background-color: #dce2e7;
                            min-width: 200px;
                            position: absolute;
                            right: 30px;
                            top: 60px;
                            text-align: center;
                            padding: 18px 0 6px 0;
                            border-top: 10px solid $green;
                            z-index: 1000;
                            -webkit-animation-duration: .5s;
                            -moz-animation-duration: .5s;
                            animation-duration: .5s;
                            
                            li {
                                float: none;
                                padding: 6px 0;
                                
                                a {
                                    color: #525c65;
                                    
                                    &:hover {
                                        border-bottom-color: transparent;
                                        background-color: #a8b4be;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }  
            
            #introduction, #features, #statistics, #pricing, #video, #footer > div {
                width: 100%;
                padding-right: 30px;
                padding-left: 30px;
                box-sizing: border-box;
                
                > div {
                    width: 100%;
                }
            } 
                        
            #pricing {
                .ui-g-12 {
                    margin-bottom: 30px;
                }
            }
                    
            #video {           
                iframe {
                    width: 300px;
                    height: 169px;
                }
            }
            
            #footer {           
                > div {                    
                    .logo {
                        width: 40px;
                    }
                    
                    .appname {
                        font-weight: bold;
                        margin-left: 10px;
                        font-size: 24px;
                    }
                    
                    .social {
                        width: auto;
                        padding-top: 22px;
                        
                        i {
                            font-size: 16px;
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .landing-body {
        .landing-wrapper {
            #header {
                .header-content {
                    .introduction-image {  
                        bottom: 40px;
                                          
                       img {
                           width: 320px;
                       }
                   }
                }
            
            &.menu-active {
                > div {
                    ul {
                        width: 45%;
                    }
                }
            }
                 
            }
        }
    }
}