.login-body {
    background-color: #6d6d7e;
    box-sizing: border-box;
    background: radial-gradient(circle at 50% 100%, #6d6d7e, #3b3b48);
    padding-top: 85px;
    border-top: 10px solid #e0f6b1;
    
    .login-panel {
        @include border-radius(3px);
        background-color: #f5f8f9;
        border: solid 1px #dce2e7;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 50px 180px;
        box-sizing: border-box;
        
        .ui-g-12 {
            padding: 16px 0;
        }
        
        .logo-container {
            img {
                width: 100px;
            }
            
            h1 {
                font-size: 20px;
                font-weight: bold;
                color: #525262;
                margin-top: 25px;
                margin-bottom: 0;
            }
            
            h2 {
                font-size: 13px;
                margin-top: 5px;
                margin-bottom: 5px;
                color: #afafc0;
            }
        }
        
        input {
            font-size: 16px;
        }
        
        .chkbox-container {
            text-align: left;
            
            label {
                color: #afafc0;
                margin-left: 4px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 640px) {
    .login-body {
        padding-top: 80px;
        
        .login-panel {
            width: 100%;
            padding: 50px;
        }
    }
}