
.footer{
	 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.ui-column-title{
	font-weight: bold;
}
.label-right{
	font-weight: bold;
	text-align: right;
}

.label td{
	text-align: right;
}
.estiloTituloTela {
	
	font-size: 36px;
}
body .ui-datatable .ui-datatable-data > tr td{
	
}
.layout-wrapper .topbar #user-display .username{
	margin-top:10px!important;
}
.layout-content{
	min-height: 550px;
}
#panel-titulo{
	padding: 20px 0;
}

.label-sim{
	background-color: #9fd037;
	color:#fff;
	padding: 5px;
	border-radius: 5px;
}
.label-sim{
	background-color: #9fd037;
	color:#fff;
	padding: 5px;
	border-radius: 5px;
}
.label-nao{
	background-color: #f18983;
	color:#fff;
	padding: 5px;
	border-radius: 5px;
}
body .ui-widget-header{
	border: none;
}
.ui-panelgrid .ui-panelgrid-cell {
		border: none !important;
}

body .border-header thead th{
	border-color: #2d353c;
}
.ui-datatable .ui-column-filter{
	width: 90%!important;
}
.ui-filter-column .hasDatepicker{
	width: 90%!important;
}