
.footer{
	 position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.ui-column-title{
	font-weight: bold;
}
.label-right{
	font-weight: bold;
	text-align: right;
}

.label td{
	text-align: right;
}
.estiloTituloTela {
	
	font-size: 36px;
}